body {
  background-color: purple;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: mistyrose;
  margin: 1rem;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10%;
}

h2, p {
  text-align: center;
}

img {
  display: block;
  margin: 1rem auto;
  /*why is the margin only to the sides and not top and bottom? */
  max-width: 100%;
  border-radius: 50%;
}

@media screen and (min-width: 300px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

/* why doesn't the page look responsive when I look in the developer tools but it works in the browser? */

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(25% - 2rem);
  }
}
